<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-sm-3">
    <%= gravatar_for @user, size: 150, class: 'img-rounded' %>
    <p class="text-muted">Joined at <%= @user.created_at.strftime('%d %B %Y') %></p>
    <% if @user == current_user %>
      <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-info' %>
    <% end %>
  </div>

  <div class="col-sm-9">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#created" role="tab">Created achievements</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#received" role="tab">Received achievements</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active fade in active" id="created" role="tabpanel">
        <h3>Created achievements</h3>

        <ul>
          <%= render @user.achievements %>
        </ul>
      </div>

      <div class="tab-pane active fade" id="received" role="tabpanel">
        <h3>Received achievements</h3>

        <% @user.posts.each do |post| %>
          <% post.achievements.each do |ach| %>
            <%= render(ach) if ach.assigned_for?(post) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>