<%= header('Posts') %>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary btn-lg' %>

<% if @category.present? %>
  <div class="d-none track-visits" data-category="<%= @category.id %>"></div>
<% end %>

<div class="row">
  <div class="col-md-9">
    <%= render @posts %>
  </div>

  <div class="col-md-3">
    <%= render partial: 'callout', collection: @callouts, as: :callout %>
  </div>
</div>


<%= paginate @posts %>