<h1><%= @post.title %></h1>

<div class="post">
  <div class="card">
    <div class="card-block">
      <p class="text-muted"><i class="icon-clock"></i> <%= @post.timestamp %></p>

      <p><%= gravatar_for @post.user, size: 60, class: 'avatar' %>
        <em><%= link_to @post.user.name, user_path(@post.user) %></em></p>
    </div>

    <div class="card-block">
      <%= sanitize @post.body, tags: %w(iframe a img) %>
    </div>
  </div>
</div>

<% @post.achievements.each do |ach| %>
  <%= image_tag ach.image.thumb('100x100#').url %>
  <%= ach.title %>

  <% if ach.assigned_for?(@post) %>
    Post has received this achievement...
  <% else %>
    <span class="label label-info">Votes: <%= ach.votes_for(@post) %></span>

    <% if current_user.voted_for?(ach, @post) %>
      <span class="label label-danger">You have already voted!</span>
    <% elsif ach.user == current_user %>
      <span class="label label-info">You've assigned this!</span>
    <% else %>
      <%= form_tag votes_path do %>
        <%= hidden_field_tag 'achievement_id', ach.id %>
        <%= hidden_field_tag 'post_id', @post.id %>
        <%= submit_tag "Vote!", class: 'btn btn-info btn-sm' %>
      <% end %>
    <% end %>
  <% end %>
  <br>

  <p class="text-muted">Assigned by <%= link_to ach.user.name, user_path(ach.user) %></p>
<% end %>

<% unless @post.user == current_user %>
  <%= form_tag post_achievements_path, method: :post do %>
    <%= hidden_field_tag 'post_id', @post.id %>
    <fieldset class="form-group">
      <%= label_tag "achievements", 'Select achievement', class: 'control-label'%>
      <%= select_tag "achievement_id",
                     options_from_collection_for_select(@ach_to_assign, 'id', 'title'),
                     class: "form-control" %>
    </fieldset>

    <%= submit_tag 'Assign!', class: 'btn btn-primary btn-xs' %>
  <% end %>
<% end %>

<h3>Comments</h3>

<%= form_for @comment, remote: true do |f| %>
  <%= hidden_field_tag 'post_id', @post.id %>

  <fieldset class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </fieldset>

  <%= f.submit 'Comment!', class: 'btn btn-primary' %>
<% end %>

<div id="comments-list">
  <%= render @post.comments.order('created_at DESC') %>
</div>