<h1><%= @post.title %></h1>

<div class="post">
  <p class="text-muted"><%= @post.timestamp %></p>

  <p><%= gravatar_for @post.user, size: 60, class: 'avatar' %><em><%= @post.user.name %></em></p>

  <div class="well well-lg">
    <%= @post.body %>
  </div>
</div>

<%= @post.achievements.inspect %>

<%= form_tag post_achievements_path, method: :post do %>
  <%= hidden_field_tag 'post_id', @post.id %>
  <fieldset class="form-group">
    <%= label_tag "achievements", 'Select achievement', class: 'control-label'%>
    <%= select_tag "achievement_id",
                   options_from_collection_for_select(@achievements, 'id', 'title'),
                   class: "form-control" %>
  </fieldset>

  <%= submit_tag 'Assign!', class: 'btn btn-primary btn-xs' %>
<% end %>
